---
layout: splash
title: "Home"
---
<div class="grid-container">
  <div class="grid-item">
<table>
<tr>
  <th>Section</th>
  <th>Time</th>
</tr>
<tr>
  {% endfor %}
  <td>Vertical Stabilizer</td>
  <td> {{site.hours.runtotal['Vertical Stabilizer']}}  </td>
</tr>
</div>
<div class="grid-item">
  <table>
  <tr>
    <th>Section</th>
    <th>Time</th>
  </tr>
<tr>
  <td>Elevator</td>
  <td>{{site.hours['elevator']}}</td>
</tr>
<tr>
  <td>Horizontal Stabilizer</td>
  <td>{{site.hours['hs']}}</td>
</tr>
</div>
<div class="grid-item">
  <table>
  <tr>
    <th>Section</th>
    <th>Time</th>
  </tr>
<tr>
  <td>Rudder</td>
  <td>{{site.hours['rudder']}}</td>
</tr>
<tr>
  <td>Tail Cone</td>
  <td>{{site.hours['tc']}}</td>
</tr>
</table>
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
